{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "no-console": ["error", { "allow": ["log"] } ],
    "func-names": ["error", "never"],
    "prefer-rest-params": "off"
  }
}
